@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-main: #084734;
    --color-highlight: #cef17b;
    --color-dark: #000000;
  }

  body {
    @apply bg-gray-50;
  }
}

@layer components {
  .container {
    @apply mx-auto px-4;
  }
}
